# Core Libraries
pandas==2.0.3
numpy==1.23.5

# Environment Variables
python-dotenv==1.0.0

# Google Cloud SDKs
google-cloud-bigquery==3.14.1

# Authentication
oauth2client==4.1.3
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0

fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pyarrow

python-multipart